---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:5 %}
    <article class="post">    
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <h2>Archive</h2>
  <table>
  {% for post in site.posts offset:5 %}
    <tr><td><b>{{ post.date | date: "%B %e, %Y" }}</b></td><td>&nbsp;&nbsp;</td><td><b><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">{{ post.title }}</a></b></td></tr>
  {% endfor %}
  </table>
</div>